claudefile/output/*
rsconnect/*
pyScripts/new_oct_revision/debug_Bipolar_Disorder.csv
pyScripts/new_oct_revision/debug_Depression.csv
ukb.kgp_projected.tsv
pyScripts/new_oct_revision/*.pt
pyScripts/suppData
pyScripts/*.Rhistory
pyScripts/*.pkl
pyScripts/.Rhistory
pyScripts/.Rapp.history
pyScripts/*.Rhistory
pyScript/.Rapp
pyScripts/big_stuff/*
pyScripts/*.csv
pyScripts/outputs/*
output/*
*.DS*
pyScripts/*.pdf
pyScripts/__pycache__/*
*cache*
.Rproj.user
*.pptx
*/saved_results
data/*
saved_results/*
.DS*
pyScripts/*.rds
pyScripts/*.pdf
pyScripts/pngs/*
pyScripts/results/*
pyScripts/*.pt
pyScripts/*.pt.zip
pyScripts/*.png
pyScripts/pngs/
pyScripts/*.npy
pyScripts/*.pt
pyScripts/*.txt
pyScripts/png/*
pyScripts/text/*
pyScripts/ptdir/*
pyScripts/npys/*
pyScripts/ptdir/*
pyScripts/oldstuff/signature_auc_phenotypes_new.txt
pyScripts/oldstuff/theta_auc_phenotypes_for_regenie_new.txt
pyScripts/oldstuff/age_normalized_signature_auc_phenotypes.txt
pyScripts/oldstuff/regenie_covariates.txt
pyScripts/oldstuff/signature_auc_phenotypes_new.txt
pyScripts/oldstuff/theta_auc_phenotypes_for_regenie_new.txt
pyScripts/oldstuff/age_normalized_signature_auc_phenotypes.txt
pyScripts/oldstuff/regenie_covariates.txt
pyScripts/oldstuff/*.png
pyScripts/oldstuff/*.npy
pyScripts/oldstuff/*.txt
pyScripts/nb/*.txt
pyScripts/oldstuff/*.txt.zip
pyScripts/oldstuff/*.pt
pyScripts/oldmarch/with_kappa_train.pt
